.menu{
  padding: 100px 0 100px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu__title{
  max-width: 780px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;


}

.menu__subtitle{
max-width: 780px;
text-align: center;
margin: 24px auto 100px;
font-family: 'Noto Serif', 'Times New Roman', serif;
font-size: 20px;
line-height: 30px;
}


