.page{
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header{
  padding:30px 80px 40px;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-image: url(../images/background_header.svg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.nav{
  display: flex;
  position: relative;
  justify-content: space-between;

}

.nav__logo{
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links{
  display: flex;
  list-style: none;
  column-gap: 20px;
  align-items: center;
  justify-content: start;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

}

.nav__link{
  text-decoration: none;
  color:#000000;

}

.header__title{
  margin: 183px 0 0;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -.6px;


}

.header__span-accent{
  color:#2f80ed;
  font-style: italic;
  font-family: "Noto Serif", "Times New Roman", serif;
  display: block;

}

.header__description{
  margin: 28px 0 0;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
}

.header__image{
  width: 646px;
  height: 568px;
  display: inline-block;
  position: absolute;
  top: 124px;
  right: 5px;


}

.header__footer{
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  justify-content: space-between;
  margin-top: auto;

}

.header__paragraph{
  margin: 0;
}

.content{}

.recipes{
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.recipes__title{
  max-width: 580px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin-bottom: 24px;
}

.recipes__subtitle{
font-family: "Noto Serif", "Times New Roman", serif;
font-size: 20px;
line-height: 30px;
max-width: 438px;
color: #ffffff;
margin-bottom: 80px;
}

.recipes__videos{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-caption{
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 24px;
}

.recipes__video-caption{
  display: flex;
  justify-content: space-between;
}

.recipes__frame{
  border: none;

}

.reservation{
  background-image: url(../images/background_reservation.svg);
  background-color: #D9E7ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:100px 0 120px;
}

.reservation__title{
margin:0 0 80px;
text-align: center;
font-family: 'Inter';
font-weight: 500;
font-size: 44px;
line-height: 52px;

}

.reservation__form{
  margin: 0 auto;
}

.form{
  max-width: 385px;
  }

  .form__fieldset{
    padding: 0;
    margin: 0;
    border: none;
  }

.form__input{
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
  box-sizing: border-box;
  margin-top: 8px;

}

.form__label{
  display: block;
  margin-bottom: 32px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox{
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

  .form__label_type_checkbox{
    display: flex;
    justify-content: center;
  }

.form__button{
  border-radius:4px;
  width: 100%;
  height: 60px;
  padding: 0;
  margin-bottom: 32px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color:white;
  background-color: #2f80ed;
}

.form__button:hover{
  opacity:70%;
  transition: .5s linear ;
}


input::placeholder{
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  text-indent: 12px;
}



.menu{}

.about{}

.footer{}


/*
font family style for CSS
font-family: 'Inter', Arial, sans-serif;
font-family: 'Noto Serif', Times New Roman, serif;*/

